#artcl{
  display:flex;
  flex-direction:column;
  background-color: analogous_blue.$color_four;
  align-self:center;
  
  flex:1 0 90vh;

  padding-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width:1320px;
  overflow-y:scroll;
}
#Degas {
  width: 25%;
  
  overflow: hidden;

}




//  @media (max-width: 1320px) {
//    #sm {
//     max-width: 100%;
//    }
 
// }
