#high_contrast {
  background-color: analogous_blue.$color_four;
  height: 90vh;
  padding-top: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow:scroll;
}
#Degas {
  width: 100%;
}




 @media (max-width: 1320px) {
   #sm {
    max-width: 100%;
   }
 
}
