#ftr {
  background-color: analogous_blue.$color_five;
span{
  color:analogous_blue.$color_four;
  padding: 10px 0px 10px 10px;
}
a{
  text-decoration: none;
  color:analogous_blue.$color_four;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;

}



  
}

