#ftr {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  // background-color: analogous_blue.$color_seven;
  // color:analogous_blue.$color_four;
  background-color: analogous_blue.$color_four;
  flex-grow:1;
  width: 1320px;
  align-self:center;
  
  overflow-wrap: break-word;
}

@media (max-width: 1310px) {
    #ftr{
     max-width: 100%;
    }
  
 }
// TODO make media query a mixin
