#nav_main{
   background-color: analogous_blue.$color_seven;
  
  }
  #ul_style {
    display: flex;
    height:100%;
    width:100%;
    justify-content: space-around;
    
    
  #menu_item_active {
    width:25%;
   
    
    background-color: analogous_blue.$color_four;
    border-radius: 5px 5px 0px 0px;
    
    a { 
      // text-shadow: -1px -1px 1px rgb(255, 255, 255);
      padding-top:30px;
      margin:-10px;
      text-decoration:none;
      display:flex;
      color: analogous_blue.$color_seven;
      font-size: 120%;
      font-weight: bold;
      justify-content:center;
      letter-spacing: 0.03em;
      font-style:none;
      
    }}
    #menu_item {
      display:flex;
      width:25%;
     
      justify-content:center;
      a {
        text-shadow: 1px 1px 1px rgb(1, 29, 41);
        display:flex;
        color: analogous_blue.$color_four;
        align-items: flex-end;
        font-size: 120%;
        font-weight: bold;
        justify-content:center;
        text-decoration:none;
        margin-top:10px;
        letter-spacing: 0.03em;
    }
  }
}



@media(max-width:768px){
#ul_style{
  align-items: center;
  #menu_item_active{
  
    a{
    color:analogous_blue.$color_four;
    }
  }
}
#toggler_icon{
 width:100%;
  align-self:center;
  margin:10px;
}
}