#nav_bar {
 margin-bottom:0;
  
}

#ul_style {
  display: flex;
  width:100%;
  justify-content: space-around;
  align-items: flex-end;
  align-self:flex-end;
  
}

#menu_item {
  display:flex;
  flex-grow:1;
  height:100%;
  justify-content:center;
  a {
    display:flex;
    color: analogous_blue.$color_four;
    align-items: flex-end;
    font-size: 120%;
    font-weight: bold;
    justify-content:center;
    text-decoration:none;
    margin-top:10px;
  }
}

#menu_item_active {
  
  height: 100%;
  flex-grow:1;
  background-color: analogous_blue.$color_four;
  border-radius: 5px 5px 0px 0px;
  
  a {
    margin-top:10px;
    text-decoration:none;
    display:flex;
    color: analogous_blue.$color_seven;
    font-size: 120%;
    font-weight: bold;
    justify-content:center;
    
    
    font-style:none;
    
  }}
