@use "abstract/analogous_blue";
@import 'elements/navbar.scss';
@import 'elements/article.scss';
@import "elements/footer.scss";
body{
    background-color: analogous_blue.$color_two !important; 
   
   display:flex;
   flex-direction:column;
   scrollbar-width: none;
   height: 100vh;
   line-height: 1.5em;
   font-size:16px;

 
   p{
       color:analogous_blue.$color_seven;
   }
 
   img{
    overflow: auto;
   }
   
}

@media(max-width:992px){
   dody{
    min-height:auto;
}

       #ftr{
           height:60px;
        }
  } 
   

