@use "abstract/analogous_blue";
@import 'elements/navbar.scss';
@import 'elements/article.scss';
@import "elements/footer.scss";
body{
    background-color: analogous_blue.$color_two !important; 
   
   display:flex;
   flex-direction:column;
   scrollbar-width: none;
   height: calc(100vh + 75px);
 
   p{
       color:analogous_blue.$color_seven;
   }
 
   img{
    overflow:scroll;
   }
 
}

