@use "abstract/analogous_blue";
@import 'elements/navbar.scss';
@import 'elements/article.scss';
@import "elements/footer.scss";
body{
    background-color: analogous_blue.$color_two;
   display:flex;
   flex-direction:column;
   scrollbar-width: none;
   height:100vh;
   overflow:hidden;
   p{
       color:analogous_blue.$color_seven;
   }
 
   
 
}
